{% extends 'app/parent.html'%}



{% block title %} Password reset {% endblock %}


{% block body %}
{% if user.is_authenticated%}
<p>You are not allowed to enter in this page while logged in.</p>
<a href="/home/">Go to homepage</a>

{% else %}
<div class="container d-flex justify-content-center mt-5">
    <form action="" method="POST">

        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Reset Password Request">

        <div  class="mt-4">
            <a href="/home/">Home page</a>
            </div>
    </form>

</div>

{% endif %}
{% endblock %}